@model List<Venta>

<h2>Ventas Eliminadas</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Cliente</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var venta in Model)
        {
            <tr>
                <td>@venta.Id</td>
                <td>@venta.Fecha.ToShortDateString()</td>
                <td>@venta.Total</td>
                <th>@venta.Clientes?.Nombre</th>
                <td>
                    <div class="d-flex gap-2">
                        <a asp-action="Details" asp-route-id="@venta.Id" class="btn btn-warning">Detalles</a> |
                        <form asp-action="RestaurarVenta" asp-route-id="@venta.Id" method="post">
                            <button type="submit" class="btn btn-success">Restaurar</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
