@model Mamma_Pasta.Models.Paginador

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        @if (Model.paginaActual > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-all-route-data="@Model.filtros" asp-route-pagina="1" tabindex="-1" aria-disabled="true">&laquo;</a>
            </li>
        }
        <li class="page-item @(Model.paginaActual > 1 ? "" : "disabled")">
            <a class="page-link" asp-all-route-data="@Model.filtros" asp-route-pagina="@(Model.paginaActual-1)" tabindex="-1" aria-disabled="true">&lt;</a>
        </li>
        @if(Model.paginaActual > 1)
        {
            <li class="page-item @(Model.paginaActual > 1 ? "" : "disabled")">
                <a class="page-link" asp-all-route-data="@Model.filtros" asp-route-pagina="@(Model.paginaActual-1)" tabindex="-1" aria-disabled="true">@(Model.paginaActual - 1)</a>
            </li>
        }
        
        <li class="page-item active" aria-current="page">
            <a class="page-link bg-warning">@Model.paginaActual</a>
        </li>
        <li class="page-item @(Model.paginaActual == Model.cantPaginas ? "disabled" : "")">
            <a class="page-link" asp-all-route-data="@Model.filtros" asp-route-pagina="@(Model.paginaActual+1)">@(Model.paginaActual+1)</a>
        </li>
        <li class="page-item @(Model.paginaActual == Model.cantPaginas ? "disabled" : "")">
            <a class="page-link" asp-all-route-data="@Model.filtros" asp-route-pagina="@(Model.paginaActual+1)">&gt;</a>
        </li>
        @if (Model.paginaActual != Model.cantPaginas)
        {
            <li class="page-item">
                <a class="page-link" asp-all-route-data="@Model.filtros" asp-route-pagina="@Model.cantPaginas" aria-disabled="true">&raquo (@Model.cantPaginas)</a>
            </li>
        }
    </ul>
    Cantidad de productos: @Model.cantRegistros
</nav>

