@model IEnumerable<Mamma_Pasta.Models.TipoDePago>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipos de Pago</h1>

<p>
    <a asp-action="Create" class="btn btn-warning" title="Alt + E">Nuevo Tipo de Pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    document.addEventListener('keydown', function (event) {
        if (event.altKey && event.key === 'e') {
            event.preventDefault(); // Evita la acción predeterminada del navegador
            window.location.href = '@Url.Action("Create", "TipoDePagos")'; // Redirige al método Create del controlador Ventas
        }
    });
</script>
